@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
       .animate-bounce-x1 {
              animation: bounceX1 1s infinite;
       }

              .animate-bounce-x2 {
                     animation: bounceX2 1s infinite;
              }

@keyframes bounceX1 {

              0%,
              100% {
                     transform: translateX(-10%);
                     animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
              }

              50% {
                     transform: translateX(0);
                     animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
              }
       }
}


@keyframes bounceX2 {

       0%,
       100% {
              transform: translateX(10%);
              animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
       }

       50% {
              transform: translateX(0);
              animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
       }
}

/* Ensure your main CSS file is linked correctly */
.scrollbar {
       overflow-y: hidden;
       scrollbar-width: thin;
       /* Firefox */
       scrollbar-color: #888 #f1f1f1;
       /* Firefox */
}

.scrollbar::-webkit-scrollbar {
       height: 12px;
}

.scrollbar::-webkit-scrollbar-track {
       background: #f1f1f1;
}

.scrollbar::-webkit-scrollbar-thumb {
       background: #888;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
       background: #555;
}