@tailwind base;
@tailwind components;
@tailwind utilities;



* {
       touch-action: manipulation;
}


@layer utilities {
       .animate-bounce-x1 {
              animation: bounceX1 1s infinite;
       }

              .animate-bounce-x2 {
                     animation: bounceX2 1s infinite;
              }

@keyframes bounceX1 {

              0%,
              100% {
                     transform: translateX(-10%);
                     animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
              }

              50% {
                     transform: translateX(0);
                     animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
              }
       }
}


@keyframes bounceX2 {

       0%,
       100% {
              transform: translateX(10%);
              animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
       }

       50% {
              transform: translateX(0);
              animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
       }
}
